body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}
.container {
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: .4rem 0;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.logout-btn {
  padding: 5px 10px;
  margin-right: 10px;
  text-align: center;
  background-color: #fa0505;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #bc6060;
}

.login-btn,
.signup-btn {
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #0076f5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn:hover,
.signup-btn:hover{
  background-color: #8abaed;
}

header h1 {
  margin: 0;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  animation: slideIn 1s;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

aside {
  flex: 1;
  padding-right: 2rem;
  animation: slideInLeft 1s;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

aside h2 {
  margin-top: 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
}

input,
select {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.radio {
  display: flex;
  align-items: center;
}

.radio label {
  margin-right: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

section#category-list {
  flex: 2;
  animation: slideInRight 1s;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px; 
}

footer p {
  margin: 0; 
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.radio input[type="radio"] {
  margin-right: 0.5rem;
}
